@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000;
  --white: #fff;
}

html,
body {
  font-family: 'Holtwood One SC', serif;
}

body {
  overflow-x: hidden;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, span, p {
  font-family: 'Bree Serif', serif;
}

*:hover {
  transition: all .3s;
}

[class*='flex-'] {
  display: flex;
}

.p-0-i {
  padding: 0 !important;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-center-h {
  justify-content: center;
}

/* CARD */

.card {
  background: var(--black);
  border: 3px solid var(--black);
  position: relative;
  padding: 15px;
}

.card:before {
  position: absolute;
  display: block;
  content: '';
  border: 1px solid var(--white);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: -15px;
}

.card * {
  color: var(--white) !important;
}

/* CARD END */

/* HEADER */

nav {
  background: var(--black);
  border-bottom: 3px solid var(--black);
  position: relative;
}

nav>.nav-items:not(#mobile-nav) {
  margin: auto 20%;
}

nav:before {
  position: absolute;
  display: block;
  content: '';
  border-bottom: 1px solid var(--white);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: var(--black);
}

nav>.nav-items>.nav-item {
  padding: 5px 7px;
  position: relative;
  overflow: hidden;
  z-index: 4;
  display: inline-block;
  transition: color 500ms;
  color: var(--white);
}

nav>.nav-items>.nav-item:not(.mobile-nav-item) {
  margin: 0 auto;
}

nav>.nav-items>.nav-item::before {
  position: absolute;
  top: 120%;
  right: -25%;
  width: 150%;
  height: 150%;
  content: ' ';
  display: block;
  background: var(--white);
  transition: top 1s;
  animation: 400ms linear 0s infinite normal forwards paused fillUp;
  z-index: -1;
}

nav>.nav-items>.nav-item::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: ' ';
  display: block;
  z-index: -2;
}

nav>.nav-items>.nav-item:hover {
  color: var(--black);
}

nav>.nav-items>.nav-item:hover::before {
  top: -25%;
  animation-play-state: running;
}

nav>.nav-items>.nav-item>a {
  font-size: 1.3rem;
}

nav>.nav-items>.nav-item:hover>a {
  color: #000;
}

#mobile-nav>li>.menu {
  height: 100%;
  width: 35px;
  cursor: pointer;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

#mobile-nav>li>.menu>span {
  display: block;
  width: 100%;
  border-radius: 5px;
  height: 4px;
  background: #fff;
  transition: all .3s;
  position: relative;
  display: flex;
  flex-direction: row;
}

#mobile-nav>li>.not-active span {
  margin-top: 6px;
}

#mobile-nav>li>.active span {
  margin-top: 6px;
}

#mobile-nav>li>.active span:nth-child(1) {
  animation: ease .7s menuTop forwards;
}

#mobile-nav>li>.not-active span:nth-child(1) {
  animation: ease .7s menuTop-2 forwards;
}

#mobile-nav>li>.active span:nth-child(2) {
  animation: ease .7s menuScaled forwards;
}

#mobile-nav>li>.not-active span:nth-child(2) {
  animation: ease .7s menuScaled-2 forwards;
}

#mobile-nav>li>.active span:nth-child(3) {
  animation: ease .7s menuBottom forwards;
}

#mobile-nav>li>.not-active span:nth-child(3) {
  animation: ease .7s menuBottom-2 forwards;
}

.header-wrapper>.header-table {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -3px);
  z-index: 1;
}

.header-wrapper>.header-table>.card-wrapper>.card {
  border-top: none;
}

.header-wrapper>.header-table>.card-wrapper>.card:before {
  border-top: none;
}

.header-wrapper>.header-table>.card-wrapper>.card>.logo>.image-wrapper {
  margin: 0px 10px 5px 10px;
}

.header-wrapper>.header-table>.card-wrapper>.card>.logo>.image-wrapper>div {
  height: 120px;
  max-width: 100%;
}

.header-wrapper>.header-table>.card-wrapper>.card>.program>.row>.col {
  margin: 10px 15px;
}

.header-wrapper>.header-table>.card-wrapper>.card>.program>.row>.col>.row>.header-table-item {
  font-size: 1rem;
}

.header-wrapper>.header-table>.card-wrapper>.card>.program>.row>.col>.row>.header-table-item:hover {
  text-decoration: underline;
}

/* HEADER END */

.slick-slide, .slick-slide img {
  height: 70vh;
}

.slick-arrow .slick-next {
  display: none !important;
}

.video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.uvod-subpages {
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.hide-banner {
  background: var(--white);
  width: 100%;
  height: 50px;
  margin-top: -50px;
  z-index: 2;
}

/* FOOTER */

.footer-wrapper {
  background: var(--black);
}

.footer-wrapper * {
  color: var(--white);
}

/* FOOTER END */


/* KEYFRAMES */

@keyframes fillUp {
  0% {
    transform: rotateZ(0deg);
  }

  25% {
    transform: rotateZ(6deg);
  }

  50% {
    transform: rotateZ(0deg);
  }

  75% {
    transform: rotateZ(-6deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes menuTop {
  0% {
    top: 0;
    transform: rotate(0);
  }

  50% {
    top: 10px;
    transform: rotate(0);
  }

  100% {
    top: 10px;
    transform: rotate(45deg);
  }
}

@keyframes menuTop-2 {
  0% {
    top: 10px;
    transform: rotate(45deg);
  }

  50% {
    top: 10px;
    transform: rotate(0deg);
  }

  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes menuBottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }

  50% {
    bottom: 10px;
    transform: rotate(0);
  }

  100% {
    bottom: 10px;
    transform: rotate(135deg);
  }
}

@keyframes menuBottom-2 {
  0% {
    bottom: 10px;
    transform: rotate(135deg);
  }

  50% {
    bottom: 10px;
    transform: rotate(0);
  }

  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes menuScaled {
  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes menuScaled-2 {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

/* KEYFRAMES END */

/* RESPO */

@media only screen and (max-width: 1536px) {
  .ytb-last {
    display: none;
  }
}

@media only screen and (max-width: 1290px) {
  .index-card {
    display: none;
  }

  .tbl-break-hide {
    display: none !important;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1536px;
  }

}

@media (max-width: 950px) {
  .slick-slide, .slick-slide img {
    height: 50vh;
  }
}

@media (max-width: 680px) {
  .slick-slide, .slick-slide img {
    height: 30vh;
  }
}

@media (max-width: 768px) {
  .subpages-hero {
    display: none !important;
  }
}


/* RESPO END */

/* NEXT.JS ADDITIONAL STYLES */
/*
	Wrap Image component in "image-wrapper" and in Image component set layout="fill"
	to display image without explicit width and height
*/

.next-image-wrapper {
  position: relative !important;
  width: 100%;
}

.next-image-wrapper>div {
  position: unset !important;
}

.next-image-wrapper>div>img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

/* NEXT.JS ADDITIONAL STYLES END */